* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type="text"] {
  border: none;
}

body {
  font-family: Arial, sans-serif;
  font-size: small;
  background-color: #fff;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 14px 30px 14px 14px;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 15px;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

nav ul li a {
  text-decoration: none;
  color: #434343;
}

nav ul li a:hover {
  text-decoration: underline #434343;
}

.btn-apps i {
  vertical-align: middle;
}

.btn-apps i:hover {
  color: #000;
}

.btn-login {
  border: 1px solid rgb(69, 131, 236);
  border-radius: 2px;
  padding: 6px 12px;
  background-color: rgb(69, 131, 236);
  font-weight: bold;
}

.btn-login a {
  color: #fff;
  cursor: default;
}

.btn-login a:hover {
  text-decoration: none;
}

.google-container {
  display: flex;
  justify-content: center;
}
.google-search {
  width: 575px;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-logo img {
  height: 92px;
  width: 272px;
}

.search-container {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  width: 100%;
  margin-top: 25px;
}

.search-container:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.search-container:focus {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.search-container #search-form {
  padding: 12px 0;
  margin-left: 2px;
  width: 90%;
  font-weight: 400;
  font-size: 16px;
}

.btn-container {
  margin-top: 40px;
}

.btn-container a {
  border: 1px solid rgb(242, 242, 242);
  text-decoration: none;
  color: rgb(117, 117, 117);
  background-color: rgb(242, 242, 242);
  padding: 8px 14px;
  font-weight: bold;
  font-size: 13px;
  margin-left: 3px;
}

.btn-container a:hover {
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 540px;
  background: #f2f2f2;
  display: flex;
  align-items: flex-end;
}

footer nav ul li a {
  color: #666;
}
